<section>
  <input #isChecked type="checkbox" [ngModel]="item.checked" (ngModelChange)="check(isChecked.checked)" />
  <label *ngIf="!isEditingLabel()" (dblclick)="editLabel(true)">
    {{item.label}}
  </label>
  <form *ngIf="isEditingLabel()" (submit)="setLabel(newLabel.value)">
    <input #newLabel type="text" [value]="item.label"/>
  </form>
  <button (click)="delete()">Delete</button>
  <button (click)="showDetails()">Show details</button>
  <div *ngIf="isShowingDetails()">
    <div *ngIf="!isEditingDate()" (dblclick)="editDate(true)">{{getTheDateD()}}</div>
    <div *ngIf="!isEditingDate()" (dblclick)="editDate(true)">{{getTheDateF()}}</div>
    <form *ngIf="isEditingDate()" (submit)="setDate(newDateD.value,newDateF.value)">
      <label>Date de début</label>
      <input #newDateD type="datetime-local" value={{getTheDateD()}}/>
      <label>Date de fin</label>
      <input #newDateF type="datetime-local" value={{getTheDateF()}}/>
      <button type="submit">Valider</button>
    </form>
  </div>
 <form (submit)="changeList(malist.value)">
    <select #malist>
      <option *ngFor="let c of lists" value={{c.id}}>{{c.name}}</option>
    </select>

    <button type="submit">change List</button>
  </form>

</section>
